*{
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}
.container{
  height: 100vh;
  width: 100%;
  background: linear-gradient(45deg,#d2001a,#7462ff,#36e3a4,#19940d);
  background-size: 300% 300%
  animation: color 6s ease-in-out infinite;
}
@keyframes color{
  0%{
background-position: 0 50%
  }
    50%{
background-position: 100 50%
  }
    100%{
background-position: 0 50%
  }
  0%{
background-position: 0 50%
  }
    50%{
background-position: 100 50%
  }
    100%{
background-position: 0 50%
  }
